<!DOCTYPE html>
<html>
<head>
    <title>TravelGo | Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="container">
    <h2>Search Travel</h2>

    <form method="post">
        <label>Mode:</label>
        <select name="mode" required>
            <option value="Bus">Bus</option>
            <option value="Train">Train</option>
            <option value="Flight">Flight</option>
            <option value="Hotel">Hotel</option>
        </select><br><br>

        <input type="text" name="source" placeholder="Source" required><br><br>
        <input type="text" name="destination" placeholder="Destination" required><br><br>

        <button type="submit">Search</button>
    </form>
    </div>
</body>
</html>
